<!-- Footer -->
<footer class="page-footer bg-secondary text-white">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">cocktail is more than just a drink.....Hah
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->