<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-aqua">
    <a class="navbar-brand text-white font-italic" href="/">Cocktails train</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav font-italic">
        <a class="nav-item nav-link text-white" href="/cocktails">All cocktails</a>
        <% if (user) { %>
        <a class="nav-item nav-link text-white" href="/myCocktails">My cooktailes list</a>
        <a class="nav-item nav-link text-white" href="/cocktail/new">+add cooktail</a>
        <% } %>
      </div>
    </div>
    <% if (user) { %>
      <h3 class="nav-item nav-link text-white font-italic"> Hello, <%= user %></h3>
      <form class="float-right" action="/logout" method="POST">
        <button class="btn border-colour-mod-orange btn-md bg-info rounded-pill text-white" type="submit">Enough for today</button>
      </form>
    <% } else { %> 
      <div class="float-right">
        <a href="/register"><button class="btn border-colour-mod-orange btn-md bg-info rounded-pill text-white" type="submit">Enroll</button></a>
        <a href="/login"><button class="btn border-colour-mod-orange btn-md bg-info rounded-pill text-white" type="submit">Sign in</button></a>
      </div>
      <% } %>
  </nav>
  </header> 