<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <a class="navbar-brand" href="/">webApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/cocktails">All cocktails</a>
          <a class="nav-item nav-link" href="/myCocktails">My cooktailes list</a>
          <a class="nav-item nav-link" href="/cocktails/new">+add cooktail</a>
        </div>
        <% if (user) { %>
          <h3 class="nav-item nav-link text-light"> Hello, <%= user.name %></h3>
          <form class="form-inline" action="logout" method="POST">
            <button type="submit">Enough for today</button>
          </form>
        <% } else { %> 
            <a lass="navbar-toggler" href="/register"><button type="submit">Enroll</button></a>
            <a lass="navbar-toggler" href="/login"><button type="submit">Sign in</button></a>
        <% } %>
      </div>
    </nav>
  </header> 