<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>webApp</title>
    </head>
<body>
    <%- include('partials/_header') %>
    <main>
      <div>
        <h3>Create new cocktail</h3>
          <form class="form-inline" action="/cocktails" method="POST">
            <div class="d-flex flex-column form-group mb-2">
              <div>Add new cocktail name:
                <label for="cocktailName"></label>
                <input class="form-control" id="cocktailName" type="text" name="cocktailName" placeholder="Cocktail name" style="width: 300px; margin: 1em">
              </div>
              <fieldset class="d-flex flex-row">Add cocktail ingredients
                <div id="ingredients-field">
                 <div class="d-flex flex-row">
                    <input class="form-control" type="text" name="ingredient" placeholder="Ingredient #1">
                    <input class="form-control" type="text" name="amount" placeholder="Amount #1">
                 </div>
                </div>
                <button type="button" class="btn btn-primary" id="addIngredient">+ingredient</button>
              </fieldset>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 150px">Submit</button>
              </div>
            </form> 
      </div>
    </main>
    <%- include('partials/_footer') %>
    <script>
        const createIngredientField = () => {
            let ingredientFieldContainer = document.createElement("div");
            let ingredientNameField = document.createElement("input");
            ingredientNameField.name = `ingredient`;
            ingredientNameField.placeholder = `Amount`;
            let ingredientAmountField = document.createElement("input");
            ingredientAmountField.name = `amount`;
            ingredientAmountField.placeholder = `Amount`;
            ingredientFieldContainer.appendChild(ingredientNameField);
            ingredientFieldContainer.appendChild(ingredientAmountField);
            const ingredientsBox = document.getElementById('ingredients-field');
            ingredientsBox.appendChild(ingredientFieldContainer);
        }
        const addIngredient = document.getElementById('addIngredient');
        addIngredient.addEventListener('click', createIngredientField);
    </script>
</body>
</html>