<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <title>webApp</title>
    </head>
    <body>
      <%- include('partials/_header') %>
      <main class="mycoctails-main-page">
        <div class="container">
          <h3 class="text-white pt-3 pl-1">My cocktails card</h3>
          <div class="">
            <ul>
              <% for (let cocktail of cocktails) {%>
              <li class="cocktail-list">
                <a class="cocktail-link m-0 font-weight-normal text-white text-decoration-none shadow" href="/cocktail/<%=cocktail.cocktail_id %>"><%= cocktail.cocktail_name %></a>
              </li>
              <% } %> 
            </ul>
          </div>
        </div>
      </main>
      <%- include('partials/_footer') %>
    </body>
</html>