<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>webApp</title>
    </head>
    <body>
        <%- include('partials/_header') %>
        <main>
          <div>
            <h3>List of my cocktails</h3>
            <ul>
              <% for (let cocktail of cocktails) {%>
              <li>
                <span><%= cocktail.cocktail_name %></span>
              </li>
              <% } %> 
            </ul>
          </div>
        </main>
        <%- include('partials/_footer') %>
    </body>
</html>