
@font-face {
    font-family: neonTubes;
    font-weight: normal;
    src: url('../fonts/NeonTubes2.otf') format("opentype");
}

@font-face {
    font-family: hustlersRough;
    font-weight: normal;
    src: url('../fonts/Hustlersrough.otf') format("opentype");
}

@font-face {
    font-family: Yesteryear;
    font-weight: normal;
    src: url('../fonts/Yesteryear.ttf') format('truetype');
}

@font-face {
    font-family: fenwick;
    font-weight: normal;
    src: url('../fonts/fenwick.ttf') format('truetype');
}


.body {
    background: white;
}

@media (max-width: 576px) {
    /*
    body {
        background: #FF8500;
    }
    */
    .cocktail-link:hover {
        color: white;
    }
}

@media (min-width: 576px) {
    /*
    body {
        background: hsl(31, 92%, 60%);
    }
    */
    .cocktail-link:hover {
        color: white;
    }
}

@media (min-width: 768px) {
    /*
    body {
        background: rgb(238, 238, 100);
    }
    */
    .cocktail-link:hover {
        color: red;
    }
}

@media (min-width: 992px) {
    /*
    body {
        background: rgb(247, 247, 85);
    }
    */
}

@media (max-width: 1080px) {
    .custom-nav {
      font-size: 16px;
    }
    .custom-nav-user {
      font-size: 18px;
    }
    .custom-nav-btn {
      font-size: 14px;
    }
}

@media (max-width: 908px) {
    .custom-nav {
        font-size: 14px;
      }
}

@media (min-width: 675px) {
    .custom-nav-user {
        margin-left: auto;
    }
}

@media (max-width: 675px) {
    .custom-nav-user {
        margin-left: 0;
      }
}

@media (min-width: 1200px) {
    /*
    body {
        background:  rgb(247, 247, 0);
    }
    */
}

main {
    min-height: calc(100vh - 56px - 73px);
}

.text-orange {
    color: #FF8500;
}

.border-colour-mod-orange {
    //border: 2px solid #FF8500;
    border: none;
}

.bg-aqua {
    background-color: #0091A0;
}

.text-aqua {
    color: #0091A0;
}

.border-colour-aqua {
    //border: 2px solid #0091A0;
    border: none;
}


.cocktail-list {
    list-style: none;
}

.cocktail-link {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.img-features {
    width: 150px;
    height: auto;
}

.header-text {
    font-size: 20px;
}

.header-logo {
    font-size: 26px;
    padding-bottom: 9px;
}


/*----------------- header custom settings ---------------*/


.navbar-dark .navbar-brand {
    font-family: neonTubes;
    font-size: 40px;
    font-weight: 800;
    color: rgb(255, 0, 255);
    text-shadow: 0px 0px 10px rgba(245, 68, 245, 0.4), 0px 0px 15px rgba(245, 68, 245, 0.7),
                 0px 0px 20px rgba(245, 68, 245, 0.5), 0px 0px 25px rgba(245, 68, 245, 0.7),
                 -3px 0px 30px rgba(245, 68, 245, 0.5), 3px 0px 35px rgba(245, 68, 245, 0.7);
}

.navbar-dark .navbar-brand:hover {
    color: fuchsia;
}

.navbar-dark .navbar-brand span {
    color: rgb(0, 255, 21);
    text-shadow: 0px 0px 10px rgba(0, 255, 21, 0.4), 0px 0px 15px rgba(0, 255, 21, 0.7),
                 0px 0px 20px rgba(0, 255, 21, 0.5), 0px 0px 25px rgba(0, 255, 21, 0.7),
                 -3px 0px 30px rgba(0, 255, 21, 0.5), 3px 0px 35px rgba(0, 255, 21, 0.7);
}

/*----------------- startPage ---------------*/

.start-page-main {
    margin: 0;
    padding: 0;
    background-image: url('../assets/shelvesWithBottles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.watchword {
    padding-top: 20%;
    font-size: 60px;
    font-family: fenwick;
    color: white;
    text-shadow: 0 0 2px gray;
}

//set element position in the middle of screen
.centerY {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

/*----------------- /cocktails ---------------*/

