

@media (max-width: 576px) {
    body {
        background: #FF8500;
    }
    .cocktail-link:hover {
        color: white;
    }
}

@media (min-width: 576px) {
    body {
        background: hsl(31, 92%, 60%);
    }
    .cocktail-link:hover {
        color: white;
    }
}

/*medium devices (tablets)*/
@media (min-width: 768px) {
    body {
        background: rgb(238, 238, 100);
    }

    .cocktail-link:hover {
        color: red;
    }
}

/*large devices (desktops)*/
@media (min-width: 992px) {
    body {
        background: rgb(247, 247, 85);
    }
}

/*extra large devices (large desktops)*/
@media (min-width: 1200px) {
    body {
        background:  rgb(247, 247, 0);
    }
}

main {
    min-height: calc(100vh - 56px - 73px);
}

.text-orange {
    color: #FF8500;
}

.border-colour-mod-orange {
    border: 2px solid #FF8500;
}

.bg-aqua {
    background-color: #0091A0;
}

.text-aqua {
    color: #0091A0;
}

.border-colour-aqua {
    border: 2px solid #0091A0;
}


.cocktail-list {
    list-style: none;
}

.cocktail-link {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}





.img-features {
    width: 150px;
    height: auto;
}