@font-face {
  font-family: neonTubes;
  font-weight: normal;
  src: url("../fonts/NeonTubes2.otf") format("opentype");
}
@font-face {
  font-family: hustlersRough;
  font-weight: normal;
  src: url("../fonts/Hustlersrough.otf") format("opentype");
}
@font-face {
  font-family: Yesteryear;
  font-weight: normal;
  src: url("../fonts/Yesteryear.ttf") format("truetype");
}
@font-face {
  font-family: fenwick;
  font-weight: normal;
  src: url("../fonts/fenwick.ttf") format("truetype");
}
@font-face {
  font-family: Begorra;
  font-weight: normal;
  src: url("../fonts/Begorra.ttf") format("truetype");
}
.body {
  background: white;
}

main {
  min-height: calc(100vh - 84px - 73px);
}

@media (max-width: 576px) {
  .cocktail-link:hover {
    color: white;
  }
}
@media (min-width: 576px) {
  .cocktail-link:hover {
    color: white;
  }
}
@media (min-width: 768px) {
  .cocktail-link:hover {
    color: red;
  }
}
@media (max-width: 1010px) {
  .custom-nav-btn {
    font-size: 14px;
  }
}
@media (min-width: 675px) {
  .custom-nav-user {
    margin-left: auto;
  }
}
@media (max-width: 675px) {
  .custom-nav-user {
    margin-left: 0;
  }
}
.text-orange {
  color: #FF8500;
}

.border-colour-mod-orange {
  border: none;
}

.bg-aqua {
  background-color: #0091A0;
}

.text-aqua {
  color: #0091A0;
}

.border-colour-aqua {
  border: none;
}

.cocktail-list {
  list-style: none;
}

.cocktail-link {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.img-holder {
  background-color: rgba(163, 158, 158, 0.4);
}

.img-features {
  width: 150px;
  height: auto;
}

.header-text {
  font-size: 20px;
}

.header-logo {
  font-size: 26px;
  padding-bottom: 9px;
}

/*----------------- header custom settings ---------------*/
.navbar-dark .navbar-brand {
  font-family: neonTubes;
  font-size: 40px;
  font-weight: 800;
  color: fuchsia;
  text-shadow: 0px 0px 10px rgba(245, 68, 245, 0.4), 0px 0px 15px rgba(245, 68, 245, 0.7), 0px 0px 20px rgba(245, 68, 245, 0.5), 0px 0px 25px rgba(245, 68, 245, 0.7), -3px 0px 30px rgba(245, 68, 245, 0.5), 3px 0px 35px rgba(245, 68, 245, 0.7);
}

.navbar-dark .navbar-brand:hover {
  color: fuchsia;
}

.navbar-dark .navbar-brand span {
  color: #00ff15;
  text-shadow: 0px 0px 10px rgba(0, 255, 21, 0.4), 0px 0px 15px rgba(0, 255, 21, 0.7), 0px 0px 20px rgba(0, 255, 21, 0.5), 0px 0px 25px rgba(0, 255, 21, 0.7), -3px 0px 30px rgba(0, 255, 21, 0.5), 3px 0px 35px rgba(0, 255, 21, 0.7);
}

.navbar-toggler,
.navbar-toggler-icon {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-link {
  display: block;
  padding: 0.7rem 1rem;
}

.enroll-submit-button,
.signIn-submit-button {
  padding-top: 9px;
  font-size: 18px;
  color: white;
}

.enroll-submit-button:hover,
.signIn-submit-button:hover {
  text-shadow: 0px 0px 10px rgba(0, 255, 21, 0.4), 0px 0px 15px rgba(0, 255, 21, 0.7), 0px 0px 20px rgba(0, 255, 21, 0.5), 0px 0px 25px rgba(0, 255, 21, 0.7), -3px 0px 30px rgba(0, 255, 21, 0.5), 3px 0px 35px rgba(0, 255, 21, 0.7);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0.7rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.custom-nav-user {
  font-size: 15px;
}

/*----------------- startPage ---------------*/
.start-page-main {
  margin: 0;
  padding: 0;
  background-image: url("../assets/shelvesWithBottles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.watchword {
  padding-top: 20%;
  font-size: 60px;
  font-family: fenwick;
  color: white;
  text-shadow: 0 0 2px gray;
}

.centerY {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*----------------- /cocktails ---------------*/
.cocktails-page-main {
  margin: 0;
  padding: 0;
  background-image: url("../assets/neonBarFoggyM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cocktails-wrappper {
  background-color: rgba(0, 0, 0, 0.2);
}

.cocktail-name {
  font-weight: normal;
  text-shadow: 0 0 2px gray;
}

/*----------------- /myCocktails ---------------*/
.mycoctails-main-page {
  height: 100%;
  background-image: url("../assets/glasses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  font-size: 25px;
}

.shadow:hover {
  text-shadow: 0px 0px 10px rgba(0, 255, 21, 0.4), 0px 0px 15px rgba(0, 255, 21, 0.7), 0px 0px 20px rgba(0, 255, 21, 0.5), 0px 0px 25px rgba(0, 255, 21, 0.7), -3px 0px 30px rgba(0, 255, 21, 0.5), 3px 0px 35px rgba(0, 255, 21, 0.7);
}

.exit-button {
  font-family: neonTubes;
  font-size: 20px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(255, 255, 255, 0.7), 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 25px rgba(255, 255, 255, 0.7), -3px 0px 30px rgba(255, 255, 255, 0.5), 3px 0px 35px rgba(255, 255, 255, 0.7);
}

.exit-button:hover {
  color: white;
  text-shadow: 0px 0px 10px rgba(250, 2, 2, 0.4), 0px 0px 15px rgba(250, 2, 2, 0.7), 0px 0px 20px rgba(250, 2, 2, 0.5), 0px 0px 25px rgba(250, 2, 2, 0.7), -3px 0px 30px rgba(250, 2, 2, 0.5), 3px 0px 35px rgba(250, 2, 2, 0.7);
}

/*----------------- /addNewCocktail ---------------*/
.addNew-main {
  background-image: url("../assets/bloodyMary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-cocktail-button {
  font-size: 25px;
  border: none;
  background: none;
}

.edit-ingredients-button {
  font-size: 18px;
  border: none;
  background: none;
}

.add-cocktail-button:hover,
.edit-ingredients-button:hover,
.registration-submit-button:hover {
  text-shadow: 0px 0px 10px rgba(0, 255, 21, 0.4), 0px 0px 15px rgba(0, 255, 21, 0.7), 0px 0px 20px rgba(0, 255, 21, 0.5), 0px 0px 25px rgba(0, 255, 21, 0.7), -3px 0px 30px rgba(0, 255, 21, 0.5), 3px 0px 35px rgba(0, 255, 21, 0.7);
}

/*----------------- /editCocktails ---------------*/
.edit-cocktails-main {
  height: auto;
  background-image: url("../assets/barNeon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bullets-color {
  color: white;
}

.table-header,
.list-name,
.list-item {
  font-size: 18px;
  text-shadow: 0 0 2px gray;
}

.cocktiail-name-header {
  font-size: 25px;
  text-shadow: 0 0 2px gray;
}

/*----------------- /editCocktails ---------------*/
.register-main,
.login-main {
  height: auto;
  background-image: url("../assets/mimoza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-form {
  font-size: 18px;
  text-shadow: 0 0 2px gray;
}

.registration-submit-button {
  font-size: 25px;
  border: none;
  background: none;
}

/*----------------- /header responsive ---------------*/

/*# sourceMappingURL=style.css.map */
